<table class="uk-table">
  <thead>
    <tr>
      <th></th>
      <th>Time elapsed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <% if problem.completed %>
        <tr bgcolor="green">
      <% else %>
        <tr bgcolor="red">
      <% end %>
        <td><font color="white">Problem number</font></td>
        <td><font color="white"><%= time_hms problem.time_elapsed %></font></td>
        <td>
          <%= link_to 'Details', user_klass_assignment_problem_path(
                @user, @klass, @assignment, problem), class: 'uk-button' %>
        </td>
        <td>
          <%= link_to 'Work on Problem', edit_user_klass_assignment_problem_path(
                @user, @klass, @assignment, problem), class: 'uk-button' %>
        </td>
        <td>
          <%= link_to 'Delete Problem', user_klass_assignment_problem_path(
                  @user, @klass, @assignment, problem),
                method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
