<h1>Editing problem</h1>

<%= render 'form' %>

<%= link_to 'Show', user_klass_assignment_problem_path(
      @user, @klass, @assignment, @problem) %> |
<%= link_to 'Back', user_klass_assignment_problems_path(@user, @klass, @assignment) %>
