<div style="position: absolute; top: 200px; width: 100%;">
  <h1 align="center">
    Why are you still doing homework the old way?
  </h1>
</div>

<div style="position: absolute; top: 350px; width: 100%;">
  <h2 align="center">
    <%= link_to 'Sign up now!', new_user_registration_path %>
  </h2>
</div>
