<div align="center">
  <h1>Editing class</h1>

  <%= render 'form' %>

  <%= link_to 'Show', user_klass_path(@user, @klass), class: 'uk-button' %>
  <%= link_to 'Back', user_klasses_path(@user), class: 'uk-button' %>
</div>
